body {
  background: url("./assets/background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.form {
  background: transparent;
  backdrop-filter: blur(50px);
  border: 1px solid gray;
}
